<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yinghe.whiteboardlib">
    <!-- 从sdcard中读取数据的权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 往sdcard中写入数据的权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:configChanges="orientation|screenSize"
            android:theme="@style/Base.Theme.AppCompat.Dialog"
            android:name="com.yinghe.whiteboardlib.MultiImageSelectorActivity" />
    </application>

</manifest>
